.header-container {
	width: 85%;
	display: block;
	margin: 0 auto;
}

.header-container > div {
	width: 100%;
	height: 60px;
	font-size: 10px;
	overflow: hidden;
}

.main-container {
	width: 100%;
	height: auto;
	display: block;
}

.sidebar {
	width: 60%;
	height: 20%;
	font-size: 10px;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
	text-align: center;
}

.bottom-sidebar {
	margin: 10px 0;
	height: 20px;
}

.basic {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin: 0 auto;
}

.top-basic {
	width: 100%;
	text-align: justify;
	font-size: 10px;
}

.item-basic {
	height: auto;
	flex-wrap: wrap;
}

.item {
	height: 20px;
	width: 30px;
	margin: 0 10px 5px 5px;
}

.bottom-basic {
	display: block;
	height: auto;
	font-size: 10px;
	text-align: justify;
	margin-bottom: 10px;
}

.footer-container {
	width: 100%;
	display: block;
}

.block1,
.block2 {
	width: 45%;
	padding: 5px;
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
	font-size: 8px;
	min-height: 80px;
	height: auto;
}

.block1 ul {
	float: left;
	width: 45%;
}

.block3 {
	min-height: auto;
	display: block;
}

.block3-1 {
	height: 20px;
	margin-bottom: 5px;
}

.block3-2 {
	margin-top: 5px;
	height: 20px;
}
